:root{
    --blue: #22c1c3;
    --gold: #fdbb2d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

nav.menu{
    color: white;
    height: 70px;
    border-bottom: 1px solid lightblue;
}

nav.menu ul{
    list-style-type: none;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

nav.menu ul li{
    padding: 10px;
    height: 100%;
}

nav.menu ul li:hover{
    color: black;
    background-color: aliceblue;
}

nav.menu li a {
    color: inherit;
    text-align: center;
    text-decoration: none;
}

header.main_header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(0deg, var(--blue) 0%, var(--gold) 100%); 
    
}