<app-input-hello-world></app-input-hello-world>
<app-input-hello-world [name]="'Pepe'"></app-input-hello-world>

<app-button></app-button>
<app-card></app-card>

<div>
  <p>Yo soy {{ name }}</p>
  <img src="{{ imgUrl }}" alt="" />
</div>

<app-input-button></app-input-button>
<app-input-button [text]="'Cancel'"></app-input-button>
<app-input-button [text]="'Enviar'"></app-input-button>
<app-input-button [text]="'6'"></app-input-button>
<app-input-button [text]="'true'"></app-input-button>
<app-input-button [text]="name"></app-input-button>

<app-input-card [card]="card1"></app-input-card>
<app-input-card [card]="card2"></app-input-card>
